﻿@model VideosAccessPoint.Models.Video

@{
    ViewBag.Title = "Upload video";
}

@using (Html.BeginForm("AddNewVideo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width: 1000px; border: 1px solid black; margin-top: 50px; ">
        <h2 style=" text-align: center;">Add a new video</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", style = "font-size: 16px; max-width: 500px;" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "textarea-description", placeholder = "Write description about video...", style = "resize: none; font-size: 16px; max-width: 750px;", @rows = 10, @cols = 300 })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Genre, new SelectList(new string[] {  "classic", "joke", "cartoon", "news", "sport", "history", "adventure", "psyhology", "lirycs", "other..." } ), new { @class = "genre-list " })
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Select video", htmlAttributes: new { @class = "control-label col-md-2", style = "margin-right: 14px;" })
            <input type="file" name="uploadVideo" /><br>
            @Html.ValidationMessage("Select video", "", new { @class = "text-danger", style="margin-left: 185px; margin-top: -10px;" })

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload video" class="btn btn-default" />
            </div>
        </div>
    </div>
}
 @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
