﻿@model VideosAccessPoint.Models.Video

@{
   ViewBag.Title = Model.Title;
}

<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">
        <h2 class="title-video">@Html.DisplayFor(model => model.Title)</h2>
    </div>

    <div class="panel-body">

        <div style="max-width: 100%;  height: 65px; font-size: 16px; margin: 10px;">
            <p class="posted-user" title="Posted by @Model._User.Name"><span class="glyphicon glyphicon-user"></span> @Model._User.Name</p>
            <div class="block-date" title="Time of posting">
                <p><span class="glyphicon glyphicon-calendar"></span> @Model.Date </p>
            </div>
            <div style="position: static; margin-top: 15px;">
                @Html.Label("Genre: ")
                @Html.DisplayTextFor(model => model.Genre)
            </div>
        </div>


        <div class="embed-responsive  embed-responsive-16by9">
            <video controls width="520" height="440" class="embed-responsive-item">
                <source src="~/UploadedVideos/@Model.VideoFormat" />
            </video>
        </div>
        <hr />
        <div style="line-height:25px; text-indent: 1cm; font-size: 16px; padding: 10px; text-align:justify; ">
            @Html.DisplayTextFor(model => model.Description)
        </div>

        <div class="form-group" style="text-align: right;">
                <div class="col-md-offset-2 col-md-10">
                    @using (Html.BeginForm("Edit", "Home", FormMethod.Get, new { style="position: relative; margin-right: 80px;"}))
                    {
                        <input type="hidden" value="@Model.Id" name="VideoId" />
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    }
                    @using (Html.BeginForm("Delete", "Home", FormMethod.Get, new { style = "position: static; margin-top: -35px;" }))
                    {
                        <input type="hidden" value="@Model.Id" name="VideoId" />
                        <input type="submit" value="Delete" class="btn btn-primary" />
                    }
                </div>
            </div>
    </div>
</div>



   



