
@{
    ViewBag.Title = "Register Success";
}


<div class="container" style="margin-top: 35px;">
    <h3>
         You are successfully registered! Please follow <a href="/Authentification/Register">this link</a> for authorization.
    </h3>
</div>
