﻿@model VideosAccessPoint.Models.Login

@{
    ViewBag.Title = "Signing in";
}

<h2>Sign in with existed account</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Sign in" class="btn btn-default" name="action:signin" />
        <input type="submit" value="Clear" class="btn btn-default" name="action:clearSignin" />
    </div>
</div>

<div style="font-size: 16px; margin-left: 100px;">
    <p>If you aren't registered follow <a href="/Authentification/Register">this page</a></p>
</div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
